* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #3D6274;
  font-size: 16px;
  font-weight: normal;
}

.form__group {
  padding-left: 25px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.container__first-last {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 10px 1fr;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;
  padding-bottom: 20px;
  padding-top: 20px;
  color: rgb(135, 154, 148);
}

.container__password {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 10px 1fr;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;
  padding-bottom: 20px;
  margin-top: -20px;
}

.form__input {
  width: 290px;
  height: 25px;
  border-radius: 5px;
  color: #bebcbc;
}

.input-email {
  border-radius: 5px;
  color: #bebcbc;
}

.email {
  width: 595px;
  height: 25px;
  border-radius: 5px;
  color: #EFEFEF;
}

.form {
  width: 250px;
  height: 700px;
  padding-right: 400px;
  border-radius: 10px;
  background-color: #FDFDFD;
  margin: 250px auto 250px auto;
}

.form__title {
  text-align: center;
  background-color: rgb(231, 231, 229);
  color: rgb(79, 78, 78);
  width: 650px;
  height: 60px;
  padding-top: 25px;
  border-bottom: 1px solid;
  border-radius: 10px 10px 0 0;
}

.container__gender-hobbies {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 10px 1fr;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;
  padding-bottom: 20px;
}

.container__income {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 10px 1fr;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;
  padding-bottom: 20px;
}

.container__file-age {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 150px 1fr;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 150px;
  padding-bottom: 20px;
}

.range {
  width: 200px;
}

.button__range {
  width: 30px;
  font-size: 15px;
  background-color: #00BC94;
  margin-bottom: 10px;
  text-align: center;
  color: white;
}

.text {
  width: 190px;
  height: 25px;
  border-radius: 5px;
  color: #bebcbc;
}

textarea {
  width: 600px;
  height: 80px;
}

select {
  width: 295px;
  height: 25px;
  border-radius: 5px;
}

.header {
  background-color: rgb(176, 176, 190);
  text-align: center;
  color: rgb(2, 24, 43);
  padding: 20px;
}

.form__button {
  background-color: #00BC94;
  text-align: center;
  border-radius: 5px;
  padding: 10px 20px;
  margin-right: 40px;
  margin-top: 10px;
  color: aliceblue;
}

.hobbies {
  color: black;
}

h2 {
  color: #00BC94;
  font-size: 16px;
}

.footer {
  margin-top: 20px;
  text-align: right;
  background-color: #EFF0F2;
  width: 650px;
  height: 70px;
  border-radius: 0 0 10px 10px;
  border-top: 1px solid;
}

label {
  color: black;
}