* {
  padding: 0;
  margin: 0;
}

body {
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  height: 50vh;
  width: 50%;
}

.half {
  z-index: 1;
}

.half__top {
  position: relative;
  width: 180px;
  height: 90px;
  background-color: yellow;
  border-top-left-radius: 90px;
  border-top-right-radius: 90px;
  -webkit-animation: half__top 500ms infinite linear;
          animation: half__top 500ms infinite linear;
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
}

.half__bottom {
  position: relative;
  height: 90px;
  width: 180px;
  border-bottom-left-radius: 90px;
  border-bottom-right-radius: 90px;
  background-color: yellow;
  -webkit-animation: half__bottom 500ms infinite linear;
          animation: half__bottom 500ms infinite linear;
  -webkit-transform-origin: top center;
          transform-origin: top center;
}

.circle__food {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-animation-name: circle__food;
          animation-name: circle__food;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  width: 100%;
}

.circle__food:before {
  content: "";
  height: 20px;
  width: 20px;
  background-color: white;
  border-radius: 50%;
}

@-webkit-keyframes circle__food {
  0% {
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
  100% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@keyframes circle__food {
  0% {
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
  100% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}
@-webkit-keyframes half__top {
  10% {
    -webkit-transform: rotate(-60deg);
            transform: rotate(-60deg);
  }
  50% {
    -webkit-transform: rotate(-40deg);
            transform: rotate(-40deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@keyframes half__top {
  10% {
    -webkit-transform: rotate(-60deg);
            transform: rotate(-60deg);
  }
  50% {
    -webkit-transform: rotate(-40deg);
            transform: rotate(-40deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@-webkit-keyframes half__bottom {
  10% {
    -webkit-transform: rotate(60deg);
            transform: rotate(60deg);
  }
  50% {
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
  }
  100% {
    -webkit-transform: rotate 0deg;
            transform: rotate 0deg;
  }
}
@keyframes half__bottom {
  10% {
    -webkit-transform: rotate(60deg);
            transform: rotate(60deg);
  }
  50% {
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
  }
  100% {
    -webkit-transform: rotate 0deg;
            transform: rotate 0deg;
  }
}