* {
  padding: 0;
  margin: 0;
}

body {
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
}

.circle {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 80px 1fr 80px 1fr 80px 1fr 80px 1fr 80px 1fr 80px 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  -webkit-column-gap: 80px;
     -moz-column-gap: 80px;
          column-gap: 80px;
  z-index: 0;
}
.circle .circle__food {
  position: relative;
  height: 20px;
  width: 20px;
  background-color: white;
  border-radius: 50%;
  right: -50px;
  -webkit-animation-name: circle__food;
          animation-name: circle__food;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes circle__food {
  10% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(-120px, -50%);
            transform: translate(-120px, -50%);
  }
}

@keyframes circle__food {
  10% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(-120px, -50%);
            transform: translate(-120px, -50%);
  }
}
.pacman {
  position: relative;
  width: 160px;
  height: 160px;
  z-index: 1;
}
.pacman:before, .pacman:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border: 80px solid yellow;
  border-radius: 50%;
  border-right: 80px solid transparent;
  -webkit-animation: animate1 linear 0.5s infinite;
          animation: animate1 linear 0.5s infinite;
}
.pacman:after {
  -webkit-animation: animate2 linear 0.5s infinite;
          animation: animate2 linear 0.5s infinite;
}

@-webkit-keyframes animate1 {
  0% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
  50% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
}

@keyframes animate1 {
  0% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
  50% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
}
@-webkit-keyframes animate2 {
  0% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}
@keyframes animate2 {
  0% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}