*{
  margin: 0;
  padding: 0;
}

body{
  height: 100vh;
  
}
  
.parallax__image{
  height: 150vh;
  background-repeat:no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.parallax__image:nth-child(1){
  background:url(./img/winter.jpg);
  height: 150vh;
  background-repeat:no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}


.parallax__image:nth-child(2){
  background:url(./img/to.jpg);
  height: 150vh;
  background-repeat:no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}


.parallax__image:nth-child(3){
  background:url(./img/sping.jpg);
  height: 150vh;
  background-repeat:no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.parallax__image:nth-child(4){
  background:url(./img/to.jpg);
  height: 150vh;
  background-repeat:no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.parallax__image:nth-child(5){
  background:url(./img/summer.jpg);
  height: 150vh;
  background-repeat:no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.parallax__image:nth-child(6){
  background:url(./img/to.jpg);
  height: 150vh;
  background-repeat:no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.parallax__image:nth-child(7){
  background:url(./img/autumn.jpg);
  height: 150vh;
  background-repeat:no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.text_1{
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top:1000px;
  font-size: 7rem;
  font-style: normal;
}

.text_2{
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 1000px;
  font-size: 7rem;
  color:white
}

.text_3{
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 1000px;
  font-size: 7rem;
  color:white;
  text-decoration: underline;
}
