html{
  height: 100%;
  overflow: hidden;
}

body{
  font-family: arial;
  font-size: 16px;
  margin: 0;
  padding: 0;
  perspective: 1px;
  transform-style: preserve-3d;
  color:#000;
  overflow-y: scroll;
  overflow-x: hidden;
}

.wrapper_outer{
  height: 100vh;
  overflow: hidden;
  box-sizing:border-box;
  transform-style: inherit;
  width: 100vw;
}

.wrapper{
  height: 100%;
  overflow-x: hidden;
  perspective: 1px;
  transform-style: preserve-3d;
}

.parallax_section{
  min-height: 100vh;
  padding: 50px;
  display: flex;
  align-items:center;
  justify-content: center;
  width: 100vw;
  position: relative;
  overflow: hidden;
  transform-style: preserve-3d;
}

.parallax_bg{
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-size:cover;
  background-position:center center;
  z-index: -1;
  transform-origin: center;
  min-height: 100%;
  transition: 1s;
  transform: translateZ(-1px) scale(2);
}

.parallax_section h2{
  color:#fff;
  margin: 0;
  font-size: 120px;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.4);
  text-align: center;
  text-transform: uppercase;
}



 

