//section-content//
@media  screen and  (min-width: 1200px){
  .section__body{
   max-width:50%;
    
           
  }
  .container{
    max-width: 800px;
  }

  .btn-content{
   width: 90%;
  }
 
}



@media (min-width: 768px){
  .section__img{
    flex:0 0 50%;
    transform: translate(-75%, 0px);
    position: relative;
  }
  
}


@media screen and (max-width: 768px) {  
  
  section {  
      flex-direction: column-reverse;
      text-align: center;
      flex: 1 1 auto;
  }

  .section__body{
    max-width: 100%;
  }

}

@media  (max-width: 576px) {  
  .container{
    width: 40%;
  }
  .section__body{
    max-width: 100%;
  }

.nav-list{
  flex-direction: column;
  
}

}




