@charset "UTF-8";
@import url(./reset.css);
@import url(./media.css);
@font-face {
  font-family: "Objective";
  src: url("../fonts/Objective-Bold.woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Objective";
  src: url("../fonts/Objective-Medium.woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Objective";
  src: url("../fonts/Objective-Regular.woff2");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Objective";
  src: url("../fonts/Objective-Regular.eot");
  src: local("☺"), url("../fonts/Objective-Regular.woff") format("woff"), url("../fonts/Objective-Regular.ttf") format("truetype"), url("../fonts/Objective-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  height: 100%;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  background: -webkit-gradient(linear, left top, left bottom, from(#E5F0F9), to(#FFFFFF));
  background: linear-gradient(#E5F0F9, #FFFFFF);
}

.container {
  max-width: 1010px;
  padding: 0 30px;
  margin: 0 auto;
}

/*Header*/
.header {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 58px;
  margin-bottom: 58px;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  font-weight: 700;
  font-size: 40px;
  color: #4A99D3;
  font-weight: 700;
  font-style: normal;
}

/*Nav*/
.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 53px;
     -moz-column-gap: 53px;
          column-gap: 53px;
  font-weight: 400;
  font-size: 18px;
}

.nav-button {
  height: 20px;
  width: 20px;
  display: none;
}

.nav-link {
  color: #0F001A;
}

.nav__active {
  color: #4A99D3;
}

/*Header content*/
.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.section__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section__container {
  max-width: 1010px;
  padding: 0px 30px;
  margin: 0px auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section__img {
  max-width: 100%;
}

.section__body {
  width: 50%;
}

.section__title {
  font-weight: 500;
  font-size: 50px;
  line-height: 70px;
  color: #260041;
  letter-spacing: 2%;
  margin-top: 74px;
}

.section__text {
  color: #260041;
  line-height: 36px;
  font-size: 20px;
}

.btn-content__google {
  width: 180px;
  height: 60px;
  background: #4A99D3;
  border-radius: 5px;
}

.btn-content__app {
  width: 180px;
  height: 60px;
  background: #4A99D3;
  border-radius: 5px;
}

.btn-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  padding-top: 60px;
  max-width: 600px;
}

.services__conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services__receive {
  width: 380px;
  height: 525px;
}

.services__send {
  width: 380px;
  height: 537px;
}

.services__buy {
  width: 380px;
  height: 525px;
}

.services__text-3__receive {
  background-image: url(../img/Vector.png);
  background-repeat: no-repeat;
}

.services__text-3__send {
  background-image: url(../img/Vector.png);
  background-repeat: no-repeat;
}

.services__text-3__buy {
  background-image: url(../img/Vector.png);
  background-repeat: no-repeat;
}