*{
  padding: 0;
  margin: 0;
}

body{
  background-color:#3D6274;
  font-size: 16px;
  font-weight: normal;
}

.form{
  width: 670px;
  height: 700px;
  border-radius:10px;
  background-color:#FDFDFD;
  margin: 250px auto;
}

.form__title{
  text-align: center;
  background-color:rgb(231, 231, 229);
  color:rgb(79, 78, 78);
  width: 670px;
  height: 60px;
  padding-top: 25px;
  border-bottom:#bebcbc solid 2px;;
  border-radius:10px 10px 0 0;
}

.container{
  display: grid;
  color:rgb(135, 154, 148);
  padding: 0 25px;  
}

.container-box{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap:10px;
  padding-bottom: 10px;
  padding-top: 20px; 
  color:rgb(135, 154, 148);
}

.box__input{
  width: 290px;
  height:25px;
  border-radius:5px;
  color:#bebcbc;
  border:#bebcbc solid 2px;
  padding:0px 5px;
}

.box-long{
  display: grid;
  padding-top: 10px; 
  color:rgb(135, 154, 148); 
}

.box__email{
  border-radius:5px;
  color:#bebcbc;
}

.email__input{
  width: 605px;
  height: 25px;
  border-radius:5px;
  color:#bebcbc;
  border:#bebcbc solid 2px;
  padding:0px 5px;
}

.employed{
  width: 280px;
  height: 25px;
  border-radius:5px;
  border:#bebcbc solid 2px;
  padding: 0 10px;
}

.range{
  width: 250px;
}

.container-range{
  margin-top:10px;
}

.result{
  color:aliceblue;
  background-color:#00BC94;
  border-radius:2px;
}

.input-age{
  width: 290px;
  height: 25px;
  border-radius:5px;
  border:#bebcbc solid 2px;
}

textarea{
  width: 612px;
  height: 80px;
  resize: none;
  border-radius:5px;
  border:#bebcbc solid 2px;
  
}

.form__button{
  background-color:#00BC94;
  text-align: center;
  border-radius:5px ;
  padding:10px 20px;
  margin-right: 40px;
  margin-top: 10px;
  color:aliceblue;
  border:0
}

.hobbies{
  color:black;
}

h2{
  color:#00BC94;
  font-size: 17px;
}

.footer{
  margin-top: 20px;
  text-align: right;
  background-color:#EFF0F2;
  width: 670px;
  height: 60px;
  border-radius:0 0 10px 10px;
  border-top:#bebcbc solid 2px;
}

label{
  color:black
}

.input{
  padding:0 10px ;
}













